<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>mxyc.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0239FCBD1C7C52F000CA41D7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0239FCD61C7C52F000CA41D7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0239FCE11C7C52F100CA41D7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
